@import url(../css/fonts/fonts.css);
@import url(../css/layout/footer.css);
@import url(../css/layout/header.css);
@import url(../css/layout/main.css);

.lado-a-lado {
    display: flex;
    justify-content: space-between;
}
  
  .item {
    flex: 1;
    padding: 20px;
  }

  .centro {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.centralizaImg{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: auto;
    
}

.margem-0{
  margin-top: 0;
  margin-bottom: 0;
}

section ul{
  list-style: none;
  padding-inline-start: 0;
}

.margem-esquerda{
  margin-left: 0;
  padding-left: 0;
}
