.lado-a-lado {
    display: flex;
    justify-content: space-between;
  }
  
  .item {
    flex: 1;
    padding: 20px;
  }

  .centro {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.centralizaImg{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: auto;
}