@import url(../css/fonts/fonts.css);
@import url(../css/layout/footer.css);
@import url(../css/layout/header.css);
@import url(../css/layout/main.css);

.lado-a-lado {
    display: flex;
    justify-content: space-between;
}
  
  .item {
    flex: 1;
    padding: 20px;
  }

  .centro {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.centralizaImg{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: auto;
    
}

.margem-0{
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
}

section ul{
  list-style: none;
  padding-inline-start: 0;
}

.margem-esquerda{
  margin-left: 0;
  padding-left: 0;
}

.no-link-style{
  list-style: none;
}

.img-banner{
  padding: 20px;
  justify-content: center;
}

html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  background-color: #393939; /* Cor de fundo desejada */ 
} 
.flex-wrapper { 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; /* 100% da altura da viewport */ 
  } 

#main-content { flex: 1; /* Garante que o main-content ocupe o espaço disponível */ }