.jumbotron{
    background-image: url("../../img/backgound/Backgound\ página\ pessoal\ v1.png");
    background-size: cover;
    height: 300px;
    background-position: center center;
    margin-top: 0;
}

.backgound-complemento{
    background-image: url(../../img/backgound/Complemento.png);
    background-size: cover;
    height: cover;
    background-position: center center;
    margin-top: 0;
}


.navbar-brown {
    background-color: #D08E6C; 
    color: white; 
}

@media (max-width: 425px) { 
    .jumbotron{
        background-image: url("../../img/backgound/Backgound\ página\ pessoal\ v1.png") !important;
        background-size: 980px 300px !important;
        height: 300px !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
        margin-top: 0 !important;
    }
} 

