.navbar-brown {
    background-color: #D08E6C; 
    color: white; 
}

.margem-button-on{
  margin-bottom: 50px;
}

.menu-fixo{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 10px 0px;
}

@media (min-width: 768px){
  .img-margem-esquerda-40{
    margin-left: 40px;
  }

  .img-margem-direita-40{
    margin-right: 80px;
  }

}

@media (max-width: 767px) { /* Ajuste para tablets e telas médias */
   .no-break{
     padding-left: 10px;
   }
}