.button-menu { 
    display: flex; 
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center; 
    align-items: center; 
    gap: 5px;
} 
.button-menu .btn { 
    margin-right: 20px; 
    margin-bottom: 20px;
    margin-top: 10px;
}

.content-container { 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 1s ease-in-out, visibility 1s; 
} 
.content-container.show { 
    opacity: 1; 
    visibility: visible; 
}

.borda-arredondada {
    border: 5px solid #AB594B; 
    padding: 5px; /* Espaço interno entre a imagem e a borda */
}

#imagemCentral :hover{
    color: black;
}

@media (max-width: 768px) {
    #formacaoes{
        margin-left: 5em;
    }

    .padding-esqueda-60{
        padding-left: 0px;
    }

    #cursosCertificacoes{
            border-right: 2px solid #AB594B;
            padding-right: 30px;
    }

}

@media (max-width: 631px) {
    #formacaoes{
        margin-left: 0 !important;
    }

    .padding-esqueda-60{
        padding-left: 10px !important;
    }

    #skillsTecnologias{
        padding-left: 10px !important;
    }

    .margem-esquerda-30{
        padding-left: 10px !important;
    }

    #experienciaProfissional{
        margin-bottom: 30px;
    }

    #formacaoAcademica{
        margin-bottom: 30px;
    }
}