.button-menu { 
    display: flex; 
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center; 
    align-items: center; 
    gap: 5px;
} 
.button-menu .btn { 
    
    margin-bottom: 20px;
    
}

.content-container { 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 1s ease-in-out, visibility 1s; 
} 
.content-container.show { 
    opacity: 1; 
    visibility: visible; 
}

.borda-arredondada {
    border: 5px solid #AB594B; 
    padding: 5px;
}

.borda-link{
    border: 0.5px solid;
    color: inherit;
    padding: 5px;
    padding-bottom: 8px;
    border-radius: 10px;
}

#imagemCentral :hover{
    color: black;
}

.bloco {
    position: relative;
    display: inline-block;
}

.hover-image {
    width: 200px;
    height: auto;
    cursor: pointer;
}

.hover-card {
    position: absolute;
    top: 0; 
    left: 105%;
    background-color: #D08E6C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px;
    z-index: 1;
    display: none;
    width: max-content;
    max-width: 400px;
}

.bloco:hover .hover-card{
    display: block;
}

.bloco.active .hover-card {
    display: block; 
}

.hover-card {
    transition: all 0.3s ease-in-out;
}

.info-container {
    display: flex; /* Torna o contêiner pai flexível */
    gap: 30px; /* Espaçamento entre os itens */
    align-items: flex-start; /* Alinha os itens ao topo */
}



.dados-pessoais ul,
.idiomas ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.imagem-ampliavel{
    transition: transform 0.3s ease-in-out;
    position: relative; 
    z-index: 1;
}

.imagem-ampliavel:hover {
    transform: scale(1.5) ;
    z-index: 10;
}


@media (max-width: 1072px)  {
    .justify-content-center{
      justify-content: center;
      padding-top: 5em !important; 
    }
}

@media (max-width: 1000px) {
    .hover-card {
        position: relative;
        margin-top: 10px;
        left: 0;
        background-color: #D08E6C;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        border-radius: 8px;
        z-index: 1;
        display: none;
        width: max-content;
        max-width: 400px;
        border: none; /* Remove bordas visíveis */
        box-shadow: none; /* Remove sombras */
    }


    .bloco {
        position: relative;
        display: flex; /* Alinha os itens de forma flexível */
        flex-direction: column; /* Coloca os itens (imagem e cards) em coluna */
        align-items: center; /* Garante que os itens fiquem centralizados */
        justify-content: flex-start; /* Começa os itens no topo */
    }
}


@media (max-width: 768px) {

    .padding-esqueda-60{
        padding-left: 0px;
    }

    #cursosCertificacoes{
            border-right: 2px solid #AB594B;
            padding-right: 30px;
    }

    #formacaoAcademica{
        margin-bottom: 30px;
    }

    #formacaoAcademica{
        margin-bottom: 30px;
    }

    #experienciaProfissional{
        margin-bottom: 30px;
    }

    .hover-card {
        position: relative;
        top: 110%; 
        left: 0;
        background-color: #D08E6C;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        border-radius: 8px;
        z-index: 1;
        display: none;
        width: max-content;
        max-width: 400px;
        border: none; /* Remove bordas visíveis */
        box-shadow: none; /* Remove sombras */
    }


    .bloco {
        position: relative;
        display: flex; /* Alinha os itens de forma flexível */
        flex-direction: column; /* Coloca os itens (imagem e cards) em coluna */
        align-items: center; /* Garante que os itens fiquem centralizados */
        justify-content: flex-start; /* Começa os itens no topo */
    }

    #resumoProfissional {
        .borda-direita {
            border-right: 2px !important;
            padding-right: 30px;
        }
    }

    .imagem-ampliavel:active {
        transform: scale(1.2); 
    }
    
}

@media (max-width: 631px) {
    #formacaoes{
        margin-left: 0 !important;
    }

    .padding-esqueda-60{
        padding-left: 10px !important;
    }

    #skillsTecnologias{
        padding-left: 10px !important;
    }

    .margem-esquerda-30{
        padding-left: 10px !important;
    }

    #experienciaProfissional{
        margin-bottom: 30px;
    }

    #formacaoAcademica{
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .tech-icon{
        width: 40px;
    }
}


@media (max-width: 400px) {
    .hover-card h2{
            font-size: 1.5rem !important;
    }
}
