.navbar-brown {
    background-color: #D08E6C; 
    color: white; 
}

.margem-button-on{
  margin-bottom: 50px;
}

.style-button{
  margin-right: 100px !important; 
}

.menu-fixo{
  position: relative;
  width: 100%;
  top: 0;
  padding: 10px 0px;
}
.navbar-toggler {
  margin: 0 auto; /* Centraliza horizontalmente */
  display: flex; /* Garante que o botão use flexbox */
  justify-content: center; /* Centraliza o conteúdo do botão */
}

.navbar-collapse {
  display: flex; /* Usa flexbox para organizar os elementos */
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  text-align: center; /* Centraliza o texto nos links */
}

.navbar {
  display: flex; /* Torna o menu flexível */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */

}
@media (min-width: 768px){
  .img-margem-esquerda-40{
    margin-left: 40px;
  }

  .img-margem-direita-40{
    margin-right: 80px;
  }

}

@media (max-width: 767px) { /* Ajuste para tablets e telas médias */
   .no-break{
     padding-left: 10px;
   }
}