.backgound-complemento{
    background-color: #393939;
    background-size: cover;
    height: cover;
    background-position: center center;
    margin-top: 0;
}


.navbar-brown {
    background-color: #D08E6C; 
    color: white; 
}


@media (min-width: 768px){
  .img-margem-esquerda-40{
    margin-left: 40px;
  }

  .img-margem-direita-40{
    margin-right: 80px;
  }

}

@media (max-width: 767px) { /* Ajuste para tablets e telas médias */
   .no-break{
     padding-left: 10px;
   }
}