.button-menu { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
.button-menu .btn { 
    margin-right: 20px; 
    margin-bottom: 20px;
    margin-top: 10px;
}

.content-container { 
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 1s ease-in-out, visibility 1s; 
} 
.content-container.show { 
    opacity: 1; 
    visibility: visible; 
}

.borda-arredondada {
    border: 5px solid #AB594B; 
    padding: 5px; /* Espaço interno entre a imagem e a borda */
}