.lado-a-lado {
    display: flex;
    justify-content: space-between;
}
  
.item {
  flex: 1;
  padding: 20px;
}

.centro {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.centralizaImg{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: auto;
    
}

.img-banner{
  padding: 20px;
  justify-content: center;
}

.margem-0{
  margin-top: 0;
  margin-bottom: 0;
  margin: 0;
}

.zera-margem-esquerda{
  margin-left: 0;;
}

.margem-esquerda-40{
  padding-left: 58px;
}

.margem-cima-30{
  margin-top: 30px;
}

.margem-baixo-30{
  margin-bottom: 30px;
}

.margin-list-10{
  margin-top: 10px;
  margin-bottom: 10px;
}

.padding-esquerda-20{
  padding-left: 20px;
}

section ul{
  list-style: none;
  padding-inline-start: 0;
}

html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
  background-color: #393939; /* Cor de fundo desejada */ 
} 
.flex-wrapper { 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; /* 100% da altura da viewport */ 
  } 

#main-content { flex: 1; /* Garante que o main-content ocupe o espaço disponível */ }