.jumbotron  h1{
    font-size: 60px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .letra-branca{
    color: white   
  }

  .letra-preta{
    color: black;
    font-weight: bold;
  }

  .letra-marrom{
    color: #5d3f30;
  }

  .font-media{
    font-size: 15px;
  }

  .font-grande{
    font-size: 40px;
  }

  .no-link-style{
    list-style: none;
  }

  .no-break-line{
    white-space: nowrap;
  }

  a { color: white; } 
  a:hover { color: white; } 
  a:visited { color: white; }

  .button-text { 
    background: none; /* Remove o fundo */ 
    border: none; /* Remove a borda */ 
    padding: 0; /* Remove o preenchimento */ 
    margin: 0; /* Remove a margem */ 
    color: inherit; /* Herda a cor do texto */ 
    cursor: pointer; /* Mantém o cursor de ponteiro */ 
  }

  @media (max-width: 768px) { 
    .jumbotron h1{
      font-size: 40px;
      color: white;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .font-grande{
      font-size: 30px;
    }
  }

  @media (max-width: 472px) { 
    .jumbotron h1{
      font-size: 35px;
      color: white;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

    .font-grande{
      font-size: 30px;
    }

    .img-banner{
      margin: 20px
    }
  }

  @media (max-width: 425px) { 
    .jumbotron h1{
      font-size: 15px;
      color: white;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
  }